@import url('http://fonts.cdnfonts.com/css/slater-industrial');

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    min-height: 100vh;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 200px;
}

.beginning-text {
    font-family: 'Slater Industrial', sans-serif;
    color: white;
    transform: all 1s;
    animation: fadein 2s linear;
}


button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    font-family: 'Slater Industrial', sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    transition: all .7s;
    outline: -webkit-focus-ring-color auto 1px;
    animation: fadein 2s linear;
    margin: 150px 0 150px 0;
}

button:active {
    background-color: darkgray;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px white;
}

.game-button-container {
    display: flex;
    gap: 20px;
}

.score-container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-family: 'Slater Industrial', sans-serif;
    color: white;
}

.result {
    font-family: 'Slater Industrial', sans-serif;
    color: white;
}

.score-header {
    font-size: 32px;
}

.scores {
    display: flex;
    gap: 75px;
}

.game-over-message {
    font-size: 40px;
    font-family: 'Slater Industrial', sans-serif;
    color: white;
    animation: fadein 2s linear;
    align-self: center;
    justify-self: center;
}

.invisible {
    display: none;
}

.endBody {
    justify-content: center;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}